<!-- Side widgets-->
<div class="col-lg-4">

    @await Html.PartialAsync("_WidgetAdminPanel")

    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Procurar</div>
        <div class="card-body">
            <form asp-action="Search" asp-controller="Posts" method="get">
            <div class="input-group">                
                    <input class="form-control" type="text" placeholder="Procurar por..." aria-label="Procurar por..." id="term" name="term" aria-describedby="button-search" pattern=".{3,}" title="Informe ao menos três caracteres" required />
                    <button type="submit" class="btn btn-primary" id="button-search"><span class="fa fa-search" /></button>                
            </div>
            </form>
        </div>
    </div>

    <cache expires-after="@TimeSpan.FromMinutes(1)">
        @await Component.InvokeAsync("MostViewedPostsWidget")
    </cache>

    <cache expires-after="@TimeSpan.FromMinutes(1)">
        @await Component.InvokeAsync("LastAuthorsWidget")
    </cache>

    @await Html.PartialAsync("_WidgetNotLoggedUser") 
</div>